<div class="">
    <h3 class="h4"><%= @agent.full_name %></h3>
    <p><%= @agent.company %></p>
    <%# <p><%= @agent.email</p>  %>

    <button class="btn btn-success">Call: <%= @agent.full_name %></button>
    <button class="btn btn-success">Email: <%= @agent.email %></button>
</div>